@page "/acercade"

<div class="container">
    <div class="card">
        <h2>Acerca de</h2>
        <p><strong>Página realizada por</strong></p>

        <img src="https://mail.google.com/mail/u/0?ui=2&ik=10e74f72c7&attid=0.1&permmsgid=msg-a:r3223358204425763343&th=191fd5f6978b3deb&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-yxZsuOHUt7Vxp9oqXRKlu3ewOw1RTJIMh6y_JT1-wRVFh4UAuuOHrbRNZWWBigXdfCHTAtcBoLOvgk3nXuqiUHUJPbYf-XU-ojui_MOri7NiAo6H90NrXx98&disp=emb&realattid=C82F8FA8-B4F2-45EB-92C8-0D0191318652" alt="Imagen" style="width: 200px; height: 250px;" />

        <p>
            <strong>Nombre:</strong>
            Eliezer Palacio Ramos
        </p>

        <p><strong>Matrícula:</strong> 2023-1009</p>
        <p><strong>Asignatura:</strong> Programación Web</p>

        <div class="seccion">
            <p><strong>Contactos</strong></p>
            <a href="https://wa.me/8299936506">Whatsapp</a>
            <a href="https://t.me/EliezerPR">Telegram</a>
        </div>
    </div>
</div>